<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogdemo.mapper.ArticleThumbsMapper">
    <!--   添加用户点赞博文信息-->
    <insert id="addArticleThumbs">
        INSERT INTO `user_art_thumbs`(`u_id`,`art_id`) VALUE(#{uId},#{artId});
    </insert>
    <!--   删除用户点赞博文信息-->
    <delete id="deleteArticleThumbs">
       delete from `user_art_thumbs` where u_id = #{uId} and art_id = #{artId}
    </delete>

    <!-- 查询是否点赞-->
    <resultMap id="thumbs" type="com.example.blogdemo.returndata.UserArticleThumbs">
        <result property="atId" column="at_id"></result>
        <result property="uId" column="u_id"></result>
        <result property="artId" column="art_id"></result>
    </resultMap>
    <select id="selectThumbs" resultMap="thumbs">
        select  * from `user_art_thumbs` where u_id = #{uId} and art_id = #{artId}
    </select>
</mapper>